<div >
  <div class="bg-white w-fit mx-auto p-4 rounded-2xl shadow-lg mt-2">
<%= form_with(model: todo) do |form| %>
  <% if todo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_area :title ,class: "border border-gray-600"%>
  </div>

  <div>
    <%= form.label "status", style: "display: inline" %>
    <%= form.select :completed, [["Completed", true], ["Not Completed", false]], {selected: false} ,class: "border border-gray-600 "%>
  </div>

  <div class="bg-green-500 hover:bg-green-600 p-4 rounded-2xl my-2 w-fit h-fit mx-auto text-white">
    <%= form.submit %>
  </div>
<% end %>
</div></div>